{%extends 'goods/list_base.html'%}
{%block title%}
<title>天天生鲜-商品列表</title>
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js/"></script>

{# ajax添加购物车，成功后跳转到详细页 #}
<script>
	$(function () {
//	    var $add_x = $('.add_goods').offset().top;
//		var $add_y = $('.add_goods').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

//		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});

		$('.add_goods').click(function () {
		    var $add_x = $(this).offset().top;
		    var $add_y = $(this).offset().left;

		var gid = $(this).parent().siblings('.gid').val();

//	    var gid = $('#gid').val();
		$.get("/cart/add/", {'gid': gid, 'count': 1}, function (data) {
			if (data.isok == 1){

			    $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'});
				$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
						"fast", function() {
                    $(".add_jump").fadeOut('fast', function () {
                        $('#show_count').html(data.cart_count);
                    });

			});
//			     window.location.href = '/detail/' + gid + '/';
			}
        })
    });
    });
</script>
{%endblock title%}

	{%block r_wrap%}


		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list-{{ goods_type.id }}-1/" {% if sort == '1' %}class="active"{%endif%}>默认</a>
				<a href="/list-{{ goods_type.id }}-2/" {% if sort == '2' %}class="active"{%endif%}>价格</a>
				<a href="/list-{{ goods_type.id }}-3/" {% if sort == '3' %}class="active"{%endif%}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{% for goods in page %}
				<li>
					<input type="hidden" class="gid" value="{{ goods.id }}">
					<a href="{{ goods.get_absolute_url }}"><img src="/static/{{ goods.pic }}"></a>
					<h4><a href="{{ goods.get_absolute_url }}">{{ goods.title }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.price }}</span>
						<span class="unit">{{ goods.unit }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}
			</ul>

			<div class="pagenation">
				{% if has_head %}
				<a href="{% url 'goods:list' tid=goods_type.id sort=sort page_index=1 %}">首页</a>
				{%else%}
				<a >首页</a>
				{%endif%}
				{% if page.has_previous %}
				<a href="{% url 'goods:list' tid=goods_type.id sort=sort page_index=page.number|add:-1 %}"><上一页</a>
				{% else %}
				<a >上一页</a>
				{% endif %}

				{% for page_num in page_range %}
					{% if page.number == page_num %}
					<a href="#" class="active">{{page_num}}</a>
					{% else %}
					<a href="{% url 'goods:list' tid=goods_type.id sort=sort page_index=page_num %}">{{page_num}}</a>
					{% endif %}
				{% endfor %}


				{# 下一页设计 #}
				{% if page.has_next %}
				<a href="{% url 'goods:list' tid=goods_type.id sort=sort page_index=page.number|add:1 %}">下一页></a>
				{% else %}
				<a >下一页</a>
				{% endif %}
				{% if has_foot %}
				<a href="{% url 'goods:list' tid=goods_type.id sort=sort page_index=page.paginator.num_pages %}">尾页</a>
				{%else%}
				<a >尾页</a>
				{%endif%}
			</div>
		</div>
		<div class="add_jump"></div>
	{%endblock%}
